{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="menu-container">
        {% include 'navbar.html' %}
    </div>

<div class="banner">
  <div class="cover">
    <div class = "container banner-cont">
      <h2>Browse through projects by other techies and leave reviews and ratings!</h2>
      <form class="form"  action="{% url 'search_results' %}" role="search">
        {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search For A Portfolio" name="projectSearch">
                    </div>
      </form>
    </div>
  </div>  
</div>

<div class="projects">
  <h5 class ="text-center" style="margin: 10px ;">Available Projects</h5>

  {% if portfolios %}
  <div class="row">
    {% for portfolio in portfolios %}
    <div class="col-sm-4">
      
      <div class="card">
        <a href="/portfolio/{{ portfolio.title }}/details" name="">
          <img src="{{ portfolio.portfolio_image.url }}" class="card-img-top" style="border-radius: 10px 10px 0px 0px;" alt="{{ portfolio.title }}">          
        </a>
        <hr>
        <div class="card-body">
          <h4 class="card-title"> {{ portfolio.title }}</h4>
          <p class="card-text">{{ portfolio.caption|truncatewords:15}}</p>
          <hr>
          <div class="" style="float:left">
            <h6> <span class="">By {{ portfolio.user.username }}</span> </h6>

          </div> 

          <div class="" style="float:right">
            <h6> <span style="font-weight: lighter; color: green" class=""> Language: {{ portfolio.programming_language }}</span> </h6>


          </div>
        </div>
      </div>
      
    </div>  
    {% endfor %}  
    
  </div>
  {% else %}
  {% endif %}

</div>


{% endblock %}