{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="banner">
  <div class="cover">
    <div class = "container banner-cont">
      <h2>Browse through projects by other techies and leave reviews and ratings!</h2>
      <form class="form"  action="{% url 'search_results' %}" role="search">
        {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search For A Portfolio" name="imageSearch">
                    </div>
      </form>
    </div>
  </div>  
</div>


{% endblock %}