{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        {% include 'navbar.html' %}
    </div>

    <!-- Project details Page -->           

        <div class="container">
          
            <h1 class ="text-center" style="margin-top: 80px; font-family: 'Alice', serif;">Project Details</h5>
                    
           
          <div class="card" style="margin-top: 50px ;">
            <div class="view overlay" >
              <div class="details-header" style="margin-bottom: 60px ;">
              <h6 class="mb-4 mt-4"> <span style="float:left ;">{{ portfolio.title }} by: <span style="color:red ;"> {{ portfolio.author.username }} </span> </span> 
              </h6>
              <h6>
               <span style="float:right"> {{portfolio.date_created|date}}</span>
              </h6>
            </div>  
               
              
              <img id="img{{portfolio.id}}" src="{{portfolio.portfolio_image.url}}" class="fluid img-thumbnail" alt="portfolio" style="cursor:pointer">
        
            </div>
              <!-- card body -->
            <div class="card-body">
              <h5 class="card-title"><strong>{{portfolio.title|title}}</strong>
                <hr>
                  
              </h5>
                  
             
              <p>{{ portfolio.caption }}</p>
              <hr>

              <div style="margin-bottom: 20px ;">          
                <div class="" style="float:left">
                  <a href="{{ portfolio.portfolio_site_url }}" class="btn btn-sm btn-info mr-4"> Visit Site </a>
                </div> 
                <div class="" style="float:right">
                  <h6> <span style="font-weight: lighter; color: green" class=""> Language: <br> {{ portfolio.programming_language }}</span> </h6>
                </div>
              </div>
              
              <div class="row">
                  <div class="col-md-2"></div>
                    <!-- <div class="col-md-8">
                      <h3 class="D-block mx-auto">Ratings Scores</h3>
                      {% for rating in post.ratings.all %}
                      {% if forloop.counter is post.ratings.all.count %}
                      <a class="btn btn-info btn-sm" ><h5>{{ rating.score }}</h5>
                          <span class="sc">Average Score</span>
                      </a>
                      <a class="btn btn-outline-success btn-sm" ><h5>{{ rating.design_average }}</h5>
                          <span class="sc">Design Average</span>
                      </a>
                      <a class="btn btn-outline-primary btn-sm" id="u"><h5>{{ rating.usability_average }}</h5>
                          <span class="sc">Usability Average</span>
                      </a>
                      <a class="btn btn-outline-danger btn-sm" id="c"><h5>{{ rating.content_average }}</h5>
                          <span class="sc">Content Average</span>
                      </a>
                      {% endif %}
                      {% endfor %}
                    </div> -->
                  <div class="col-md-2"></div>
              </div>
  

            

    
    
{% endblock %}