{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        {% include 'navbar.html' %}
    </div>

    <!-- Project details Page -->           

        <div class="container">
          
            <h1 class ="text-center" style="margin-top: 80px; font-family: 'Alice', serif;">Project Details</h5>
                    
           
          <div class="card" style="margin-top: 50px ;">
            <div class="view overlay" >
              <div class="details-header" style="margin-bottom: 60px ;">
              <h6 class="mb-4 mt-4"> <span style="float:left ;">{{ portfolio.title }} by: <span style="color:red ;"> {{ portfolio.author.username }} </span> </span> 
              </h6>
              <h6>
               <span style="float:right"> {{portfolio.date_created|date}}</span>
              </h6>
            </div>  
               
              
              <img id="img{{portfolio.id}}" src="{{portfolio.portfolio_image.url}}" class="fluid img-thumbnail" alt="portfolio" style="cursor:pointer">
        
            </div>
              <!-- card body -->
            <div class="card-body">
              <h5 class="card-title"><strong>{{portfolio.title|title}}</strong>
                <hr>
                  
              </h5>
                  
             
              <p>{{ portfolio.caption }}</p>
              <hr>

              <div style="margin-bottom: 20px ;">   
                
                <div class="card mt-3">
                  <ul class="list-group list-group-flush">
                      {% if portfolio.portfolio_site_url %}
                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                          <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="24" height="24" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g fill="none" stroke="#171515" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="M2 12h20"/><path d="M12 2a15.3 15.3 0 0 1 4 10a15.3 15.3 0 0 1-4 10a15.3 15.3 0 0 1-4-10a15.3 15.3 0 0 1 4-10z"/></g></svg> Website</h6>
                          <a href="{{ portfolio.portfolio_site_url }}" target="_blank">
                              <span class="text-primary"><i class="fa-solid fa-link"></i> Link</span>
                          </a>
                      </li>
                      {% else %}
                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                          <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="24" height="24" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g fill="none" stroke="#171515" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="M2 12h20"/><path d="M12 2a15.3 15.3 0 0 1 4 10a15.3 15.3 0 0 1-4 10a15.3 15.3 0 0 1-4-10a15.3 15.3 0 0 1 4-10z"/></g></svg> Website</h6>
                          <a href="#">
                              <span class="text-primary disabled"><i class="fa-solid fa-link"></i> None</span>
                          </a>
                      </li>
                      {% endif %}
                      {% if portfolio.repo_url %}
                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                          <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="24" height="24" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g fill="none" stroke="#171515" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77A5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"/></g></svg> Github</h6>
                          <a href="{{ portfolio.repo_url }}" target="_blank">
                              <span class="text-primary"><i class="fa-solid fa-link"></i> Link</span>
                          </a>
                      </li>
                      {% else %}
                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                          <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="24" height="24" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g fill="none" stroke="#171515" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77A5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"/></g></svg> Github</h6>
                          <a href="#">
                              <span class="text-primary disabled"><i class="fa-solid fa-link"></i> None</span>
                          </a>
                      </li>
                      {% endif %}
                  </ul>
              </div>                
                
                  <h6> <span style="font-weight: lighter; color: green; margin-bottom: 15px;" class=""> Language: <br> {{ portfolio.programming_language }}</span> </h6>
                
              </div>
              
              <div class="row">
                  <div class="col-md-2"></div>
                    <!-- <div class="col-md-8">
                      <h3 class="D-block mx-auto">Ratings Scores</h3>
                      {% for rating in post.ratings.all %}
                      {% if forloop.counter is post.ratings.all.count %}
                      <a class="btn btn-info btn-sm" ><h5>{{ rating.score }}</h5>
                          <span class="sc">Average Score</span>
                      </a>
                      <a class="btn btn-outline-success btn-sm" ><h5>{{ rating.design_average }}</h5>
                          <span class="sc">Design Average</span>
                      </a>
                      <a class="btn btn-outline-primary btn-sm" id="u"><h5>{{ rating.usability_average }}</h5>
                          <span class="sc">Usability Average</span>
                      </a>
                      <a class="btn btn-outline-danger btn-sm" id="c"><h5>{{ rating.content_average }}</h5>
                          <span class="sc">Content Average</span>
                      </a>
                      {% endif %}
                      {% endfor %}
                    </div> -->
                  <div class="col-md-2"></div>
              </div>
  

            

    
    
{% endblock %}